{% extends "Store/base.html" %}
{% load static %}
{% block body %}
<div class="header-inner">
    <div class="container">
        <div class="cat-nav-head">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="menu-area">
                        <!-- Main Menu -->
                        <nav class="navbar navbar-expand-lg">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="nav main-menu menu navbar-nav mx-auto">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:index' %}">Trang Chủ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:nuoc-hoa-nam' %}">NƯỚC HOA NAM</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:nuoc-hoa-nu' %}">NƯỚC HOA NỮ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:unisex' %}">UNISEX</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:thuong-hieu'%}">Thương Hiệu</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:khuyen-mai' %}">Khuyến Mãi</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:tin-tuc' %}">Tin Tức</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Store:lien-he' %}">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!--/ End Main Menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget category">
                            <h3 class="title">Danh mục</h3>
                            <ul class="categor-list">
                                <li><a href="{% url 'Store:nuoc-hoa-nam'%}">Nước hoa nam</a></li>
                                <li><a href="{% url 'Store:nuoc-hoa-nu'%}">Nước hoa nữ</a></li>
                                <li><a href="{% url 'Store:unisex'%}">Unisex</a></li>
                            </ul>
                        </div>	
                        <div class="single-widget category">
                            <h3 class="title">Thông tin</h3>
                            <ul class="categor-list">
                                <li><a href="{% url 'Store:profile' %}">Tài khoản của tôi</a></li>
                                <li><a href="{% url 'Store:purchase' %}">Đơn mua</a></li>
                            </ul>
                        </div>						
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <div class="profile-top">
                    {% if success_message %}
                    <div class="success-message" style="color:red;font-size:20px;margin-top: 38px;">
                        {{ success_message }} <a href="{% url 'Store:dang-nhap' %}" style="color:blue;">đăng nhập</a> để tiếp tục sữ dụng dịch vụ!
                    </div>
                    {% else %}
                    <div class="single-shorter">
                        <h7>Hồ Sơ Của Tôi</h7>
                    </div>
                    <form class="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-detail">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Tên đăng nhập:</label>
                                        {{ form_user.username }} 
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        {{ form_user.email }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Họ:</label>
                                        {{ form_user.last_name }}  <!-- Thêm trường họ -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Tên:</label>
                                        {{ form_user.first_name }}  <!-- Thêm trường tên -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Điện thoại:</label>
                                        {{ form_por.phone }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Địa chỉ:</label>
                                        {{ form_por.address }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group message">
                                        <label>Mật khẩu mới:</label>
                                        {{ form_user.password }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group message">
                                        <label>Xác nhận mật khẩu:</label>
                                        {{ form_user.confirm }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button6">
                                        <button type="submit" class="btn">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}